!!! 5
%html
  %head
    %title Survey
    != css :style, :media => 'screen'
    
  %body
    .container
      = yield
      
    %footer
      %p
        This survey is completely confidential. Thanks for your participation!
    
    != js :main
    
    :javascript
      $(function() {
        $( "#sortable" ).sortable();
        $( "#sortable" ).disableSelection();
      });
    